body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#ff416c,#ff4b2b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, auto);   /* 3 rows */
  gap: 15px;
  margin-top: 20px;
}

.grid button {
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.grid button:hover {
  background-color: #388E3C;
}


h2 { color: #ff416c; }

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff416c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #ff4b2b;
}

a {
  color: #ff416c;
  text-decoration: none;
  font-size: 14px;
}

.msg {
  color: red;
  margin-top: 10px;
}
